on:
    workflow_dispatch:
        inputs:
            tfvars_file:
                description: "Path to the .tfvars file"
                required: true
                default: "dev.tfvars"
            environment:
                description: "Environment"
                required: true
                default: "dev"
            action:
                type: choice
                description: "Terraform Action"
                options:
                    - plan
                    - apply
                    - destroy
                required: true
                default: "plan"

permissions:
    contents: read

jobs:
    deploy-cluster:
        name: Terraform ${{ inputs.action.value }} EKS Cluster on AWS
        runs-on: ubuntu-latest
        environment: ${{ inputs.environment }}
        defaults:
            run:
                working-directory: setup-eks-cluster
        env:
            AWS_REGION: "us-east-1"
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v5
              with:
                  path: setup-eks-cluster
            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: "1.13.0"
                  terraform_wrapper: true

            - name: Cache Terraform
              uses: actions/cache@v4
              with:
                  path: ~/.terraform.d/plugins
                  key: ${{ runner.os }}-terraform-${{ hashFiles('**/go.sum') }}
                  restore-keys: |
                      ${{ runner.os }}-terraform-

            - name: Install Terraform
              run: terraform init

            - name: Formate  Terraform
              run: terraform fmt -check -diff

            - name: Validate  Terraform
              run: terraform validate

            - name: Plan Terraform
              if: ${{ inputs.action.value == 'plan' }}
              uses: hashicorp/terraform-github-actions@v5
              with:
                  arguments: plan

            - name: Apply Terraform
              if: ${{ inputs.action.value == 'apply' }}
              uses: hashicorp/terraform-github-actions@v5
              with:
                  arguments: apply

            - name: Destroy Terraform
              if: ${{ inputs.action.value == 'destroy' }}
              uses: hashicorp/terraform-github-actions@v5
              with:
                  arguments: destroy
